/* mew custom styles
–––––––––––––––––––––––––––––––––––––––––– */

/* body, container, globals
–––––––––––––––––––––––––––––––––––––––––– */

body {
    padding: 1rem;
    font-family: Consolas, monospace;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    min-width: 200px;
}

/* headers and nav
–––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    line-height: 0;
}

h2 {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
}

hr {
    border-top: 2px dashed black;
    border-bottom-width: 0px;
}

/* table styles
–––––––––––––––––––––––––––––––––––––––––– */

table {
    margin: 0 auto;
}

table a {
    display: block;
    text-decoration: none;
    text-align: center;
}

td, th {
    font-weight: normal;
    padding: 0.7rem;
}

.status {
    text-align: center;
}

th {
    border-bottom: 2px dashed black;
}

.checks tr td:first-child {
    font-weight: normal;
}

.checks th {
    font-weight: bold;
}

.teamname a {
    text-align: left;
    text-decoration: underline;
}


th:nth-child(n+2){
    border-left: 2px dashed black;
}

tr td:nth-child(n+2){
    border-left: 2px dashed black;
}

tr td:first-child {
    font-weight: bold;
}

tr td {
    border-bottom: 2px dashed black;
}

tr:last-child td {
    border-bottom-width: 0;
}

tr:nth-child(n+2) a {
    cursor: pointer;
}

fieldset {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding: 0 2rem;
}


/* form styles
–––––––––––––––––––––––––––––––––––––––––– */

input {
    margin: 0.3rem auto;
}

textarea {
    width: 100%;
    min-height: 300px;
    margin-bottom: 0.7rem;
}
