/* dwayne-inator-5000 custom styles
–––––––––––––––––––––––––––––––––––––––––– */

/* body, container, globals
–––––––––––––––––––––––––––––––––––––––––– */

body {
    padding: 1rem;
    background-color: #ececec;
    font-family: Helvetica, sans-serif;
    color: black;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    min-width: 200px;
    display: table;
}

a {
    color: #04AAE2;
    text-decoration: none;
}


/* headers and nav
–––––––––––––––––––––––––––––––––––––––––– */

h2, h3 {
    text-align: center;
}

h3 {
    font-weight: normal;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav > div > a {
    margin-left: 0.5rem;
}

hr {
    border-top: 2px solid #313131;
    border-bottom-width: 0px;
}

/* table styles
–––––––––––––––––––––––––––––––––––––––––– */

table, .graph {
    margin: 0 auto;
    padding: 0 0.5rem;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: 0;
    background-image: linear-gradient(rgba(236, 236, 236, 0.91), rgba(236, 236, 236, 0.92)), url("/assets/logo.png");
    background-size: 8rem;
}

table a {
    display: block;
    text-decoration: none;
    text-align: center;
}

th {
    font-weight: bold;
}

td, th {
    font-weight: normal;
    padding: 0.7rem;
}

.status {
    text-align: center;
}

th {
    border-bottom: 3px solid #313131;
}

.checks tr td:first-child {
    font-weight: normal;
}

.teamname, .teamname a {
    text-align: right;
}

th:nth-child(n+2){
    border-left: 3px solid #313131;
}

tr td:nth-child(n+2){
    border-left: 3px solid #313131;
}

tr td:first-child {
    font-weight: bold;
}

tr td {
    border-bottom: 3px solid #313131;
}

tr:last-child td {
    border-bottom-width: 0;
}

tr:nth-child(n+2) a {
    cursor: pointer;
}

fieldset {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding: 0 2rem;
}

td img {
    width: 1.8em;
}

.persisted {
    background-image: url("/assets/bones.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}


/* form styles
–––––––––––––––––––––––––––––––––––––––––– */

input {
    margin: 0.3rem auto;
    color: white;
    background-color: #212121;
}

input[type=file] {
    color: white;

}

textarea {
    width: 100%;
    padding: 1rem;
    min-height: 300px;
    margin-bottom: 0.7rem;
}

#injectUpload {
    text-align: center;
    display: block;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.3em;
}

/* visibility trick
–––––––––––––––––––––––––––––––––––––––––– */
html {
    display: block;
}
