    {{ range $box := .Box }}
    {{ range $check := .CheckList }}
    <th class="checkname"><div><p>{{ $box.Name }}-{{ $check.Display }}</p></div></th>
    {{ end }}
    {{ end }}
<script>
  window.addEventListener("load", function() {
    const thElements = document.querySelectorAll(".checkname");
    
    thElements.forEach(th => {
      const rotatedText = th.querySelector("p");
      const textHeight = rotatedText.getBoundingClientRect().height;
      th.style.height = textHeight + "px";
    });
  });
</script>
