<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata and resources
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>{{ .event }} {{ .title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/ico" href="/assets/favicon.ico"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="nav">
            <a href="/">
                <h1 style="font-weight: normal; font-size: 1rem; line-height: 0;"><b>{{ .event }}</b> Scoring Engine</h1>
            </a>
            <div>
                <a href="/info">info</a>
                <a href="/">status</a>
                {{ if or .m.Verbose (or .user.IsAdmin .user.IsRed) }}
                <a href="/scores">scores</a>
                {{ end }}
                {{ if .user.IsValid }}
                    {{ if and (not .user.IsAdmin) (not .user.IsRed) }}
                    <a href="/team/{{ .user.ID }}">team</a>
                    {{ end }}
                    {{ if .user.IsRed }}
                    <a href="/red">red</a>
                    {{ else }}
                    {{ if .m.EasyPCR }}
                    <a href="/pcr">passwords</a>
                    {{ end }}
                    <a href="/injects">injects</a>
                    {{ end }}
                {{ end }}
                {{ if .m.Persists }}
                <a href="/persist">persists</a>
                {{ end }}
                {{ if .user.IsAdmin }}
                <a href="/injectfeed">feed</a>
                <a href="/settings">settings</a>
                {{ end }}
                {{ if .user.IsValid }}
                <a href="/logout">logout</a>
                {{ else }}
                <a href="/login">login</a>
                {{ end }}
            </div>
        </div>
        <hr>
