{{ template "head.html" . }}

{{ $m := .m }}
{{ $admin := .admin }}
{{ $team := .user }}
{{ $records := .statusRecords }}

{{ template "refresh.html" }}

{{ if $records }}
<br>
<h2>Status</h2>

<table>
    <tr>
        <th style="border-bottom: none"></th>
        {{ range $box := .m.Box }}
        <th colspan="{{ len .CheckList }}"> {{ .Name }}</th>
        {{ end }}
    </tr>
    <tr>
    <th></th>
    {{ template "boxlist.html" $m }}
    </tr>
    {{ range $index, $record := $records }}
    <tr>
        <td class="teamname">
            {{ if $team }}
                {{ if $m.IsValid $team .Team.Name }}
                <a href="/team/{{ .Team.ID }}">
                {{ end }}
            {{ end }}
            {{ .Team.Name }}
            {{ if $team }}
                {{ if $m.IsValid $team .Team.Name }}
                    </a>
                {{ end }}
            {{ end }}
        </td>
        {{ range $check := .Results }}

            <!-- Persist calculations -->
            {{ $isPersisted := false }}
            {{ if $record.Persists }}
                {{ range $i := $record.Persists }}
                    {{ if eq $check.Box .Box }}
                        {{ $isPersisted = true }}
                    {{ end }}
                {{ end }}
                {{ if $isPersisted }}
                    {{ template "persist.html" $record.Persists }}
                {{ else }}
                <td>
                {{ end }}
            {{ else }}
                <td>
            {{ end }}

            {{ if $team }}
                {{ if $m.IsValid $team $record.Team.Name }}
                <a href="/team/{{ $record.Team.ID }}/{{ $check.Name }}">
                {{ end }}
            {{ end }}

            {{ template "bool.html" $check.Status }}

            {{ if $team }}
                {{ if $m.IsValid $team $record.Team.Name }}
                </a>
                {{ end }}
            {{ end }}

          {{ else }}
        </td>
        {{ end }}
    </tr>
    {{ end }}
</table>

<br>
<p style="text-align: center">
Round {{ .round }}. Checks ran at {{ ((index .statusRecords 0).Time.In .loc).Format "03:04:05 PM" }}.
</p>

<br>
<h2>Scores Over Time</h2>

<br>
<img class="graph" style="display: block; margin: 0 auto" src="assets/points.png"/>

<br>
<br>
<h2>Standings</h2>
<br>
<table>
    <th>Rank</th>
    <th>Team</th>
    <th>Service</th>
    <th>SLA</th>
    <th>Injects</th>
    {{ if $m.Red }}
    <th>Red Team</th>
    {{ end }}
    {{ if $m.Persists }}
    <th>Lost Points</th>
    <th>Stolen Points</th>
    <th>Bonus Hack Points</th>
    {{ end }}
    <th>Reset Penalties</th>
    <th>Total</th>

    {{ range $index, $record := .records }}
    <tr>
        <td>{{ $index | increment }}</td>
        {{ if eq $record.TeamID $team.ID }}
            <td class="teamname">
                <a style="text-align: center" href="/team/{{ $team.ID }}">
                    {{ $record.Team.Name }}
                </a>
            </td>
        {{ else }}
            <td>{{ $record.Team.Name }}</td>
        {{ end }}
        <td>{{ $record.ServicePoints }}</td>
        <td>{{ $record.SlaViolations }}</td>
        {{ if eq $record.TeamID $team.ID }}
            <td>
                <a style="text-align: center" href="/injects">
                    {{ $record.InjectPoints }}
                </a>
            </td>
        {{ else }}
            <td>{{ $record.InjectPoints }}</td>
        {{ end }}
        {{ if $m.Red }}
        <td>{{ $record.RedTeamPoints }}</td>
        {{ end }}
        {{ if $m.Persists }}
        <td>{{ $record.PointsLost }}</td>
        <td>{{ $record.PointsStolen }}</td>
        <td>{{ $record.PersistPoints }}</td>
        {{ end  }}
        <td>{{ $record.ManualAdjustment }}</td>
        <td><b>{{ $record.Total }}</b></td>
    </tr>
    {{ end }}
</table>

<br>
<p style="text-align: center">
    📈 Scores calculated at {{ ((index .records 0).Time.In .loc).Format "03:04:05 PM" }}.
</p>
<br>

{{ else }}

<br>
<p style="text-align: center">
First round of checks are currently running. Good luck! 🍀
</p>

{{ end }}

{{ if .ip }}
    {{ if not (or (eq .ip "::1") (eq .ip "127.0.0.1")) }}
    <p style="text-align: center; font-size: 0.8em">
    👋 Hello {{ .ip }}!
    </p>
    {{ end }}
{{ end }}

{{ template "feet.html" }}
