{{ template "head.html" . }}

{{ $m := .m }}
{{ $admin := .admin }}
{{ $team := .team }}
{{ $records := .records }}

{{ template "refresh.html" }}

<br>
<h2>Status</h2>

<br>
<table>
    <tr>
        <th></th>
        {{ range $box := .m.Box }}
        <th colspan="{{ len .CheckList }}"> {{ .Name }}</th>
        {{ end }}
    </tr>
    <tr>
    <th>Team</th>
    {{ range $box := .m.Box }}
    {{ range $check := .CheckList }}
    <th>{{ $check.Display }}</th>
    {{ end }}
    {{ end }}
    </tr>
    {{ range $index, $record := $records }}
    <tr>
        <td class="teamname">
            {{ if or (eq $record.Team $team) $admin }}
            <a href="/team/{{ $m.GetIdentifier $record.Team.Name }}">
            {{ end }}
            {{ $record.Team.Name }}
            {{ if or (eq $record.Team $team) $admin }}
            </a>
            {{ end }}
        </td>

        {{ range $check := $record.Checks }}
        {{ template "boolheader.html" .Status }}
            {{ if or (eq $record.Team $team) $admin }}
            <a href="/team/{{ $m.GetIdentifier $record.Team.Name }}/{{ $check.Name }}">
            {{ end }}
            {{ if ne $m.Kind "blue" }}
                {{ template "boolhacked.html" . }}
            {{ else }}
                {{ template "bool.html" . }}
            {{ end }}
            {{ if or (eq $record.Team $team) $admin }}
            </a>
            {{ end }}
        </td>
        {{ end }}
    </tr>
    {{ end }}
</table>

{{ if .records }}
<br>
<p style="text-align: center">
Checks ran at {{ ((index .records 0).Time.In .loc).Format "03:04:05 PM" }}.
</p>
{{ end }}

{{ template "feet.html" }}
