{{ template "head.html" . }}

<br>
<h2>Inject {{ .inject.ID }} Submissions: <i>{{ .inject.Title }}</i></h2>

{{ $loc := .loc }}
{{ $user := .user }}

{{ if eq .inject.ID 1 }}
<br>
Welcome to the password change request portal! Your changes will not process unless you follow the naming convention:

<br>
<pre>Team_SERVICE_PWD_Y.txt</pre>

Where X is your team number and Y is the iteration of password changes for this services. For example, if I was <code>team1</code>, for my second password change file for village-ssh, my file would be named:

<br>
<pre>team1_village-ssh_PWD_2.txt</pre>

In your password change file, use the format:

<br>
<pre>
username1,password1!
username2,coolpassword
</pre>

You must allow 3 to 5 minutes for password changes to take effect. You do NOT need to provide us with password changes for "root" or "administrator" accounts. Passwords can be up to 24 characters Long. Make sure to only use the following special charaters: <code>. @ # $ % & ! ? : * ^ _ - + = < > ~</code>
<br>
<br>

{{ end }}

<br>
{{ if .submissions }}
<table style="width: 100%">
    {{ if .user.IsAdmin }}
    <th>Team</th>
    {{ end }}
    <th>Time</th>
    <th>Updated</th>
    <th>File Name</th>
    <th></th>
    <th>Feedback</th>
    {{ if and $user.IsAdmin (ne .inject.ID 1)}}
    <th>Grade</th>
    {{ end }}

    {{ range $index, $submission := .submissions }}
    <tr {{ if .Invalid }} style="color: gray" {{ end }}>
        {{ if $user.IsAdmin }}
        <td style="font-weight: normal">
            {{ .Team.Name }}
        </td>
        {{ end }}
        <td style="font-weight: normal">
            {{ (.Time.In $loc).Format "03:04 PM" }}
        </td>
        <td>
            {{ (.Updated.In $loc).Format "03:04 PM" }}
        </td>
        <td>
            {{ .FileName }}
        </td>
        <td>
            {{ if not .Invalid }}
            <form method="post" disabled>
                <input type="hidden" name="action" value="invalid"/>
                <input type="hidden" name="submission" value="{{ $index }}"/>
                <input type="submit" value="Mark Invalid"/>
            </form>
            {{ else }}
                {{ if eq .InjectID 1 }}
                <i>processed</i>
                {{ else }}
                <i>invalid</i>
                {{ end }}
            {{ end }}
        </td>
        <td>
            {{ if and (and (eq .InjectID 1) .Invalid) (eq .Feedback "") }}
            👍
            {{ else }}
            {{ .Feedback }}
            {{ end }}
        </td>
        {{ if and $user.IsAdmin (ne .InjectID 1)}}
        <td>
        <a href="/injects/{{ .InjectId }}/{{ $index }}/grade">grade</a>
        </td>
        {{ end }}
    </tr>
    {{ end }}


</table>
{{ else }}

<p style="text-align: center">
<i>No submissions yet!</i>
</p>

{{ end }}

<br>

{{ if not .user.IsAdmin }}
<br>
<form id="injectUpload" method="post" enctype="multipart/form-data">
    <input type="file" id="submission" name="submission" accept="application/pdf,text/plain">
    <input type="submit" value="Upload submission">
</form>

{{ if eq .inject.ID 1 }}
<br>
<p style="text-align: center">You can check on your PCRs <a href="/pcr">here</a>.</p>
{{ end }}

{{ else }}
<p style="text-align: center">Admin view for PCRs <a href="/pcr">here</a>.</p>
{{ end }}

{{ template "feet.html" }}
