{{ template "head.html" . }}

<br>
<h2>Inject {{ .injectId }} Submissions: <i>{{ .inject.Title }}</i></h2>

{{ $loc := .loc }}
{{ $time := .time }}
{{ $user := .user }}
{{ $injectId := .injectId }}

{{ if eq .injectId 0 }}
<br>
Please notify our white team once you have uploaded new password changes using the button at the bottom. As a reminder, your changes will not process unless you follow the naming convention:

<br>
<pre>TeamX_SERVICE_PWD_Y.txt</pre>

Where X is your team number and Y is the iteration of password changes for this services. For example, if I was team 01, for my second password change file for village-ssh, my file would be named:

<br>
<pre>Team01_village-ssh_PWD_2.txt</pre>

In your password change file, use the format:

<br>
<pre>
username1,password1!
username2,coolpassword
</pre>

You must allow 10 to 15 minutes for password changes to take effect. You do NOT need to provide us with password changes for "root" or "administrator" accounts. Passwords can be up to 24 characters Long. Make sure to only use the following special charaters: <code>. @ # $ % & ! ? : * ^ _ - + = < > ~</code>
<br>
<br>

If you make a mistake on naming the file, in the format of the file, or with the character restrictions, your changes will silently fail :)
<br>

{{ end }}

<br>
<table style="width: 100%">
    {{ if .user.IsAdmin }}
    <th>Team</th>
    {{ end }}
    <th>Time</th>
    <th>Updated</th>
    <th>File Name</th>
    <th></th>
    {{ if .user.IsAdmin }}
    <th>Grade</th>
    {{ end }}

    {{ range $index, $submission := .submissions }}
    <tr {{ if .Invalid }} style="color: gray" {{ end }}>
        {{ if $user.IsAdmin }}
        <td style="font-weight: normal">
            {{ .Team }}
        </td>
        {{ end }}
        <td style="font-weight: normal">
            {{ (.Time.In $loc).Format "03:04 PM" }}
        </td>
        <td>
            {{ (.Updated.In $loc).Format "03:04 PM" }}
        </td>
        <td>
            {{ .FileName }}
        </td>
        <td>
            {{ if not .Invalid }}
            <form method="post" disabled> 
                <input type="hidden" name="action" value="invalid"/>
                <input type="hidden" name="submission" value="{{ $index }}"/>
                <input type="submit" value="Mark Invalid"/>
            </form>
            {{ else }}
            <i>invalid</i>
            {{ end }}
        </td>
        {{ if $user.IsAdmin }}
        <td>
	    <a href="/injects/{{ $injectId }}/{{ $index }}/grade">grade</a>
        </td>
        {{ end }}
    </tr>
    {{ end }}


</table>

<br>
<br>

{{ if not .user.IsAdmin }}
<form id="injectUpload" method="post" enctype="multipart/form-data">
    <input type="file" id="submission" name="submission" accept="application/pdf,text/plain">
    <input type="submit" value="Upload submission">
</form>

{{ if eq .injectId 0 }}
<br>
<p style="text-align: center">Notify White Team to process your password changes (will take 10-15 minutes):</p>

<span style="text-align: center">

<form method="post">
    <input type="hidden" name="action" value="notify"/>
    <input type="submit" value="Notify CIAS_Alex">
</form>

</span>

<br>
<p style="text-align: center">You can check on your PCRs <a href="/pcr">here</a>.</p>
{{ end }}

{{ else }}
<p style="text-align: center">Admin view for PCRs <a href="/pcr">here</a>.</p>
{{ end }}

{{ template "feet.html" }}
