{{ template "head.html" . }}

{{ $loc := .loc }}
{{ $time := .time }}
{{ $user := .user }}

<br>
<h2>Injects{{ if $user.IsAdmin }}<a href="/injects/new"> +</a>{{ end }}</h2>

{{ if $user.IsAdmin }}
<p style="background-color: #aea; padding: 1rem; text-align: center">
Grade injects via the <b><a href="/feed">inject feed</a></b>.
</p>
{{ end }}

<br>
<table style="width: 100%">
    <th>Posted</th>
    <th>Inject Title</th>
    <th>Due</th>
    <th>Closes</th>
    {{ if not $user.IsAdmin }}
    <th>Status</th>
    {{ end }}

    {{ range $inject := .injects }}
    <tr 
       {{ if .Due.IsZero }}
           style="background-color: #aea"
       {{ else if not ($time.After .Due)}}
           style="background-color: #aea"
       {{ else }}
           style="background-color: #eaa"
       {{ end }}
    >
        <td style="font-weight: normal">
            {{ (.Time.In $loc).Format "03:04 PM" }}
        </td>
        <td>
            <a href="/injects/view/{{ .ID }}" style="color: blue">
                {{ $inject.Title }}
            </a>
        </td>
        <td>
            {{ if .Due.IsZero }}
                N/A
            {{ else }}
                <b>{{ (.Due.In $loc).Format "03:04 PM" }}</b>
            {{ end }}
        </td>
        <td>
            {{ if .Closes.IsZero }}
                N/A
            {{ else }}
                <b>{{ (.Closes.In $loc).Format "03:04 PM" }}</b>
            {{ end }}
        </td>
        {{ if not $user.IsAdmin }}
        <td>
            {{ if eq .Status 0 }}
                not submitted
            {{ else if eq .Status 1 }}
                submitted
            {{ else if eq .Status 2 }}
                graded
            {{ end }}

        </td>
        {{ end }}

    </tr>
    {{ end }}


</table>

<br>
<p style="text-align: center">
ℹ️ All times are in the <b>{{ .m.Timezone }}</b> timezone.
</p>

<!--
{{ if not .admin }}
    posted injects
    form to submit
        file
        textarea
{{ else }}
    admin interface to provide feedback on injects
    /inject/injectname/[ team ]
{{ end }}

-->

{{ template "feet.html" }}
