{{ template "head.html" . }}

<br>
<h2>Password Change Requests</h2>

{{ $m := .m }}
{{ $user := .user }}

{{ template "error.html" .error }}
{{ template "message.html" .message }}

{{ $loc := .loc }}

{{ if .user.IsAdmin }}
<br>
<h2>Username Lookup</h2>

<br>
<form style="text-align: center" method="POST">
    <label>Username:
        <input type="text" name="username" placeholder="coolUser1"></input>
    </label>
    <br><br>
    <input style="display: block; margin: 0 auto;" type="submit" value="Submit Lookup"/>
</form>

{{ end }}

<br>
<h2>Services Last Updated</h2>

<br>
<table>
    {{ if .user.IsAdmin }}
    <th>Team</th>
    {{ end }}
    <th>Time</th>
    <th>Service</th>
    {{ if or .m.Verbose .user.IsAdmin }}
    <th>Creds</th>
    {{ end }}
    {{ range $index, $pcr := .pcrs }}
    <tr>
        {{ if $user.IsAdmin }}
        <td class="teamname">
            {{ .Team }}
        </td>
        {{ end }}
        <td>
            {{ (.Time.In $loc).Format "03:04:05 PM" }}
        </td>
        <td>
            {{ .Check }}
        </td>
        {{ if or $m.Verbose $user.IsAdmin }}
        <td>
            {{ range $user, $pass := $pcr.Creds }}
                {{ $user }},{{ $pass }}
                <br>
            {{ end }}
        </td>
        {{ end }}
    </tr>
    {{ end }}
</table>

{{ template "feet.html" }}
