{{ template "head.html" . }}

{{ $m := .m }}
{{ $admin := .admin }}
{{ $team := .team }}

{{ template "refresh.html" }}

{{ if or (not .m.Tightlipped) .admin }}
<br>
<h2>Graph</h2>

<br>
<img style="display: block; margin: 0 auto" src="assets/points.png"/>
{{ end }}

<br>
<br>
<h2>Scores</h2>
<br>
<table>
    <th>Rank</th>
    <th>Team</th>
    {{ if or (not .m.Tightlipped) .admin }}
    <th>Services</th>
    <th>SLAs</th>
    <!-- <th>Injects</th> -->
    {{ end }}
    <th>Total</th>

    {{ range $index, $record := .records }}
    <tr>
        <td>{{ $index | increment }}</td>
        {{ if eq $record.Team $team.Identifier }}
            <td class="teamname">
                <a href="/team/{{ $record.Team }}">
                    {{ $record.Team }}
                </a>
            </td>
        {{ else }}
            <td>{{ $record.Team }}</td>
        {{ end }}
        {{ if or (not $m.Tightlipped) $admin }}
            <td>{{ $record.ServicePoints }}</td>
            <td>{{ $record.SlaViolations }}</td>
            <!--
            {{ if eq $record.Team $team.Identifier }}
                <td>
                    <a href="/injects/{{ $team.Identifier }}">
                        {{ $record.InjectPoints }}
                    </a>
                </td>
            {{ else }}
                <td>{{ $record.InjectPoints }}</td>
            {{ end }}
            --> 
        {{ end }}
        <td><b>{{ $record.Total }}</b></td>
    </tr>
    {{ end }}
</table>

{{ if .records }}
<br>
<p style="text-align: center">
    Scores calculated at {{ ((index .records 0).Time.In .loc).Format "03:04:05 PM" }}.
</p>
{{ end }}
<br>

{{ template "feet.html" }}
