{{ template "head.html" . }}

{{ $m := .m }}
{{ $admin := .admin }}
{{ $team := .team }}

{{ template "refresh.html" }}


{{ if .records }}
<br>
<h2>Graph</h2>

<br>
<img style="display: block; margin: 0 auto" src="assets/points.png"/>

<br>
<br>
<h2>Scores</h2>
<br>
<table>
    <th>Rank</th>
    <th>Team</th>
    <th>Service</th>
    <th>SLA</th>
    <th>Injects</th>
    {{ if $m.Red }}
    <th>Red Team</th>
    {{ end }}
    {{ if $m.Persists }}
    <th>Lost Points</th>
    <th>Stolen Points</th>
    <th>Bonus Hack Points</th>
    {{ end }}
    <th>Reset Penalties</th>
    <th>Total</th>

    {{ range $index, $record := .records }}
    <tr>
        <td>{{ $index | increment }}</td>
        {{ if eq $record.TeamID $team.ID }}
            <td class="teamname">
                <a style="text-align: center" href="/team/{{ $team.ID }}">
                    {{ $record.Team.Name }}
                </a>
            </td>
        {{ else }}
            <td>{{ $record.Team.Name }}</td>
        {{ end }}
        <td>{{ $record.ServicePoints }}</td>
        <td>{{ $record.SlaViolations }}</td>
        {{ if eq $record.TeamID $team.ID }}
            <td>
                <a style="text-align: center" href="/injects">
                    {{ $record.InjectPoints }}
                </a>
            </td>
        {{ else }}
            <td>{{ $record.InjectPoints }}</td>
        {{ end }}
        {{ if $m.Red }}
        <td>{{ $record.RedTeamPoints }}</td>
        {{ end }}
        {{ if $m.Persists }}
        <td>{{ $record.PointsLost }}</td>
        <td>{{ $record.PointsStolen }}</td>
        <td>{{ $record.PersistPoints }}</td>
        {{ end  }}
        <td>{{ $record.ManualAdjustment }}</td>
        <td><b>{{ $record.Total }}</b></td>
    </tr>
    {{ end }}
</table>

{{ if .records }}
<br>
<p style="text-align: center">
    📈 Scores calculated at {{ ((index .records 0).Time.In .loc).Format "03:04:05 PM" }}.
</p>
{{ end }}
<br>
{{ else }}
<br>
<p style="text-align: center">
⌛ No scores yet! Wait for the first scoring round to conclude.
</p>
{{ end }}

{{ template "feet.html" }}
