{{ template "head.html" . }}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <h2>Settings</h2>
    <br>
    <h4>Make announcement</h4>
    <form method="POST">
        <div class="form-group">
            <label for="announceTitle">Announcement Title</label>
            <input name="title" type="text" class="form-control" id="announceTitle" placeholder="Everything is broken! Stop asking!">
        </div>
        <div class="form-group">
            <label for="announceBody">Announcement Body</label>
            <textarea name="body" class="form-control" id="announceBody" rows="3" placeholder="Yes, that means you too."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

settings
ideally have:
- nuke database & reset everything
- ignore requests
<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{{ template "feet.html" }}
