{{ template "head.html" . }}

<br>
<hgroup>
<h2>Control Panel</h2>
<h3>Control the competition from here.</h3>
</hgroup>

{{ $loc := .loc }}
{{ $time := .time }}
{{ $user := .user }}

{{ if .error }}
{{.error}}
{{ end }}

<hgroup>
<h2>Start/Stop Scoring</h2>
<h3 style="text-align: center">Toggle the scoring engine on or off, all while keeping this portal running.</h3>
</hgroup>
{{ if .m.Running }}
<form method="POST" action="/settings/stop">
	    <input type="submit" role="button" value="Pause Scoring"></input>
</form>
{{ else }}
<form method="POST" action="/settings/start">
	    <input type="submit" role="button" value="Start Scoring"></input>
</form>
{{ end }}

<hgroup>
<h2>Big Reset Button</h2>
<h3 style="text-align: center">Reset event. This deletes inject submissions, but not injects themselves.</h3>
</hgroup>
<form method="POST" action="/settings/reset">
	    <input type="submit" role="button" value="Reset Scoring Data"></input>
</form>


<hgroup>
<h2>Manual Point Adjustments</h2>
<h3>Manual Point Adjustments</h3>
</hgroup>
<form method="POST" action="/settings/adjust" style="text-align: center">
    <label>Team:
        <select name="team">
            {{ range $team := .m.Team }}
            <option value="{{ .ID }}">{{ .Name }}</option>
            {{ end }}
        </select>
    </label>
    <input name="adjustment" type="number"></textarea>
    <input style="display: block; margin: 0 auto;" type="submit" value="Submit Adjustment"/>
    <br>
</form>

{{ if .adjustments }}
<hgroup>
<h2>Current Adjustment Values</h2>
<h3>Adjusted points.</h3>
</hgroup>
<table>
<th>Team</th>
<th>Adjustment Value</th>
{{ range $teamID, $adjustmentVal := .adjustments }}
<tr>
	<td>{{ $teamID }}</td>
	<td>{{ $adjustmentVal }}</td>
</tr>
{{ end }}
</table>
{{ end }}

<hgroup>
<h2>Config Dump</h2>
<h3>Config Dump</h3>
</hgroup>

    <pre>
        <code>{{ .config }}</code>
    </pre>

{{ template "feet.html" }}
