{{ template "head.html" . }}

{{ $m := .m }}
{{ $loc := .loc }}
{{ $team := .team }}

{{ template "refresh.html" }}

<br>
<h2>{{ .team.Name }}</h2>

{{ if .records }}

{{ if gt (len .records) 9 }}
<p style="text-align: center"><i>(last 10 rounds)</i></p>
{{ end  }}

<table class="checks">
    <tr>
        <th style="border: none"></th>
        <th style="border: none"></th>
        {{ range $box := .m.Box }}
        <th colspan="{{ len .CheckList }}"><i>{{ .Name }}</i></th>
        {{ end }}
    </tr>
    <th>#</th>
    <th>Time</th>
    {{ template "boxlist.html" .m }}

    {{ range $index, $record := .records }}
    <tr>
        <td>
            {{ if eq $index 0 }}
                <b>Current</b>
            {{ else }}
                {{ .Round }}
            {{ end }}
        </td>
        <td>
            {{ (.Time.In $loc).Format "03:04:05 PM" }}
        </td>
    {{ range $check := $record.Results }}
        <td>
            <a href="/team/{{ $check.TeamID }}/{{ $check.Name }}">
            {{ template "bool.html" .Status }}
            </a>
        </td>
    {{ end }}
    </tr>
    {{ end }}
</table>
{{ else }}

<br>
<p style="text-align: center">
Your team doesn't have any completed checks yet :(
</p>

{{ end }}

<br>
<h2>External IPs and Ports</h2>
<br>
<table class="checks">
    <tr>
        {{ range $box := .m.Box }}
        <th colspan="{{ len .CheckList }}"> {{ .Name }}</th>
        {{ end }}
    </tr>
    <tr>
        {{ range $box := .m.Box }}
        <td style="text-align: center" colspan="{{ len .CheckList }}">
            {{ $m.GetFullIP .IP $team.IP }}
        </td>
        {{ end }}
    </tr>

    {{ template "boxlist.html" .m }}

    <tr>
    {{ range $box := $m.Box }}
        {{ range $check := .CheckList }}
            {{ if eq .Port 0 }}
            <td>N/A</td>
            {{ else }}
            <td>{{ .Port }}</td>
            {{ end }}
        {{ end }}
    {{ end }}
    </tr>

</table>

{{ if $m.Verbose }}
{{ $record := index .records 0 }}
<br>
<br>
<fieldset>
<p>
    Service points: {{ $record.ServicePoints }}
    <br>
    Inject points: {{ $record.InjectPoints }}
    <br>
    SLA Violations: {{ $record.SlaViolations }}
    <br>
    <a href="/scores">See scores</a>
    <br>
    <a href="/export/{{ $record.TeamID }}">Export team data</a>
</p>
</fieldset>
{{ end }}

{{ template "feet.html" }}
