{{ template "head.html" . }}

{{ $m := .m }}
{{ $loc := .loc }}
{{ $team := .team }}

<br>
<h2>{{ .team.Name }}</h2>

{{ if gt (len .record.Results) 0 }}
<h3>Overall Uptime as of {{ (.record.Time.In $loc).Format "03:04:05 PM" }}</h3>

<table class="checks">
    <tr>
        <th style="border: none"></th>
        {{ range $box := .m.Box }}
        <th colspan="{{ len .CheckList }}"><i>{{ .Name }}</i></th>
        {{ end }}
    </tr>
    <th>#</th>
    {{ template "boxlist.html" .m }}

    <tr>
        <td>
            <b>Current</b>
        </td>
        {{ range $check := .record.Results }}
            <td style="font-size: 1.2rem; padding: 1.2rem;
            {{ if gt $check.Uptime 89 }}
            background-color: darkgreen
            {{ else if gt $check.Uptime 59 }}
            background-color: goldenrod
            {{ else if gt $check.Uptime 39 }}
            background-color: darkorange
            {{ else }}
            background-color: darkred
            {{ end }}"
            >
            {{ $check.Uptime }}%
            </td>
        {{ end }}
    </tr>
</table>
{{ else }}
<h3>Overall Uptime</h3>

<p style="text-align: center">
Your team doesn't have any completed checks yet, so we can't compute uptime :(
</p>

{{ end }}
